.colorCards {
  display: flex;
  margin: 20px;
  gap: 20px;
}

.colorCard {
  width: 80px;
  list-style: none;
}

.colorCard .cardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.colorCard .cardContent {
  height: 110px;
  box-shadow: .5px 0 4px #CCC;
  border-radius: 10px;
  position: relative;

  display: flex;
  flex-direction: column;
}

.colorCards .color {
  height: 70px;
  width: 100%;
  background-color: #000;
  /* cursor: pointer; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

.colorCards .colorHEX {
  flex: 1;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorPicker {
  position: absolute;
  left: 105%;
  z-index: 2;
}

.colorPickerCover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.colorPickerPop .ant-popover-inner-content{
  padding: 0;
  position: relative;
}

.headerActions {
  display: flex;
  gap: 10px;
}

.valueItem {
  list-style: none;
  margin-bottom: 20px;
}

.valueItem:last-child {
  margin-bottom: 0;
}

.valueItem label {
  color: #666;
}

.valueItem span {
  background-color: antiquewhite;
  padding: 3px 4px;
  border-radius: 3px;
}

.listColorExample {
  width: 40px;
  height: 1.5em;
}